@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    font-size: 10px;
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 375px;
    height: 400px;
    background-color: hsl(215, 21%, 16%);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.star {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);

}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

p {
    color: hsl(216, 12%, 54%);
    font-size: 1.7rem;
}

.choice {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choice .number {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(216, 12%, 54%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%)
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    padding: 10px 10px;
    border: none;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}

.btn-submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.number:hover {
    background-color: hsl(216, 12%, 54%);
    color: white;
    cursor: pointer;
}

/* //////////////////Thank You window////////////////////////////////////////////// */
.thank-you-container {
    width: 375px;
    height: 400px;
    text-align: center;
    background-color: hsl(215, 21%, 16%);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.thank-you-container img,
.selected,
.thanks {

    margin-top: 30px;
}

.selected {
    width: 350px;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    font-size: 1.6rem;
    border-radius: 24px;
}

.thank-you-container p {
    text-align: center;
    margin-top: 10px;
}

.thanks {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.hidden {
    display: none;
}